.date-time {
	text-align: end;
	gap: 6px;
	display: flex;
	flex-direction: column;
}
.date,
.time {
	color: var(--color-white-100);
	font-family: var(--font-family);
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-light);
	white-space: nowrap;
}

@media all and (max-width: 980px) {
	.date-time {
		width: 100%;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
}
@media all and (max-width: 660px) {
	.date,
	.time {
		font-size: 27px;
	}
}
@media all and (max-width: 360px) {
	.date,
	.time {
		font-size: 22.5px;
	}
}
