.form {
	background-color: var(--color-white-100);
	border-radius: var(--border-radius-2);
	box-shadow: var(--box-shadow-white-md);
	margin-bottom: var(--margin-bottom);
	height: var(--height-container-item);
	width: 100%;
	display: flex;
	align-items: center;
}

.form label {
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
}
.form-input {
	background: inherit;
	border: none;
	color: var(--color-gray-400);
	font-family: var(--font-family);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-regular);
	height: 100%;
	flex: 1;
}
.form-input:focus {
	outline: none;
}
.form-input::placeholder {
	background: var(--gradient-green-2);
	background-position: center;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	padding: 1% 1px 1% 1px;
	clip-path: inset(1% 1px 1% 1px);
	font-family: var(--font-family);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-bold);
}

.btn-submit {
	background: var(--gradient-white-1) padding-box,
		var(--gradient-purple-1) border-box;
	border: 1px solid transparent;
	border-radius: var(--border-radius-1);
	box-shadow: var(--box-shadow-blue-sm);
	cursor: pointer;
	margin: 0 8px;
	aspect-ratio: 1;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.btn-submit i {
	background: var(--gradient-blue-1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	padding: 3%;
	clip-path: inset(3%);
	font-size: 13.5px;
}
.btn-submit:hover {
	background: var(--gradient-white-1) padding-box,
		var(--gradient-purple-2) border-box;
}
.btn-submit:hover i {
	background: var(--gradient-blue-2);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}
.btn-submit:active {
	box-shadow: var(--box-shadow-blue-md);
}
.btn-submit:active i {
	background: var(--gradient-blue-1);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}

@media all and (max-width: 980px) {
	.form {
		order: 1;
	}
}
@media all and (max-width: 660px) {
	.form {
		margin-bottom: 25px;
	}
	.form-input,
	.form-input::placeholder {
		font-size: var(--font-size-sm);
	}
	.btn-submit {
		width: 33px;
	}
	.btn-submit i {
		font-size: 12px;
	}
}
@media all and (max-width: 540px) {
	.form-input,
	.form-input::placeholder {
		font-size: 13.5px;
	}
	.btn-submit {
		margin: 0 5px;
	}
}
@media all and (max-width: 360px) {
	.form {
		margin-bottom: 20px;
	}
	.form-input {
		font-size: 13px;
	}
	.form-input::placeholder {
		font-weight: var(--font-weight-regular);
	}
	.btn-submit {
		width: 30px;
	}
}
