.header {
	padding: 20px 50px;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: -1;
}
.header.collapsed {
	height: var(--height-collapsed);
}
.header.expanded {
	height: var(--height-expanded);
}

@media all and (max-width: 980px) {
	.header {
		padding: 50px;
	}
	.header.collapsed,
	.header.expanded {
		height: 34vh;
	}
}
@media all and (max-width: 660px) {
	.header {
		padding: 30px 25px;
	}
}
@media all and (max-width: 360px) {
	.header {
		padding: 20px 25px 25px;
	}
}
